body h1 {
	font-family: "Century Gothic";
	font-size: 36px;
}

body h2 {
	color: blue;
	font-family: "Century Gothic";
	font-size: 24px;
}

body h3 {
	color: green;
	font-family: "Century Gothic";
	font-size: 20px;
}

body h4 {
	color: gray;
	font-family: "Century Gothic";
	font-size: 16px;
}
