body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(Purple.jpg) repeat;
}

#wrapper {
  background-color: white;		
  width: 960px;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
}

img#Andy {
	border: 20px solid grey;
	border-radius: 20px;
	float: right;
}

img#Layci {
	height: 75%;
}

h1 {
	color: blue;
	font-style: italic;
	font-family: "Calibri";
	font-size: 44px;
}

p, li {
	line-height: 50px;
}
